/* 글목록 */

#boardList table {
  width:560px;
}

#boardList th {
  padding:5px 0;
  border-top:2px solid #666;
  border-bottom:1px solid #666
}
#boardList td {
  padding:5px;
  border-bottom:1px solid #666
}

#boardList .no {
  width:60px;
  text-align:center
}
#boardList .title {
  width:auto;
}
#boardList .date {
  width:100px;
  text-align:center;
}
#boardList .hit {
  width:40px;
  text-align:center
}

#boardList .btnSet {
  text-align:right;
}

/* 글쓰기 */

#boardWrite {
  table-layout : fixed;
  width : 780px;
  margin : 10px;
  padding:2px;
  background-color: white;
}

#boardWrite td, th{
  padding : 10px;
}

#boardWrite, table, td, th{
  /*border-spacing: 2px;*/
  border : thin solid gray;
  border-collapse: collapse;
}
.cellcolor{
  background-color: #999999;
  font: white;
  margin:10px;
}

/* 글읽기 */

#boardView #boardTitle {border-bottom: 2px solid #333}
#boardView #boardInfo {margin: 10px 0}
#boardView #boardContent {margin: 10px 0}
