.boardArticle {
    width:560px;
}

/* 글목록 */

#boardList table {
  width:560px;
  border-collapse: collapse;

}

#boardList th {
  padding:5px 0;
  border-top:2px solid #666;
  border-bottom:1px solid #666
}
#boardList td {
  padding:5px;
  border-bottom:1px solid #666
}

#boardList .no {
  width:60px;
  text-align:center
}
#boardList .title {
  width:auto;
}
#boardList .date {
  width:100px;
  text-align:center;
}
#boardList .hit {
  width:40px;
  text-align:center
}

#boardList .btnSet {
  text-align:right;
}
#boardList .paging {
  text-align: center;
}

#boardList .paging li {
  display: inline-block;
  height: 20px;
  margin: 0 5px;
  padding: 0 5px;
  border: 1px solid #666;
  background: #eee;
  line-height: 21px;
}

#boardList .paging li.current, #boardList .paging li:hover {
  background: #666;
}
#boardList .paging li.current, #boardList .paging li:hover a {
   color: #ddd;
 }
#boardList .searchBox{
  text-align: center;
}

/* 글쓰기 */

#boardWrite {
  table-layout : fixed;
  width : 780px;
  margin : 10px;
  padding:2px;
  background-color: white;
  border : thin solid gray;
  border-collapse: collapse;
}

#boardWrite tbody td, tbody th{
  padding : 10px;
}

.cellcolor{
  background-color: #999999;
  font: white;
  margin:10px;
}

/* 글읽기 */

#boardView #boardTitle {
  border-bottom: 2px solid #333;
}

#boardView #boardInfo {
  margin: 10px 0;
}
#boardView #boardContent {
  margin: 10px 0;
}

/* 댓글 쓰기*/
#boardComment table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#boardComment table th {
  width: 100px;
  padding: 0 5px;
  text-align: right;
  vertical-align: middle;
}
#boardComment table td {
  padding: 5px;
  text-align: left;
}

#boardComment #coContent {
  width: 99%;
  height: 120px;
}
#commentView ul {
  list-style: none;
  margin: 0;
  padding:0;
}
#commentView .oneDepth {
  margin: 10px 0;
  padding: 10px;
  background: #eeeeee;
}

#commentView .twoDepth {
  margin: 20px;
 padding: 10px;
 background: #ffffff;
}
#commentView .commentInfo {
  overflow: hidden;
}
#commentView .commentId {
  float: left;
}
#commentView .commentBtn {
  float: right;
}
#commentView .commentContent {
  clear: both;
} 


/* 글삭제 */
#boardDelete table {
  width:560px;
}

#boardDelete p {
  text-align: center;
  color : #B70000;
  font-weight: bold;
}

#boardDelete tbody th, thead th {
  width:100px;
  padding:5px;
  text-align:center;
  vertical-align: top;
}
#boardDelete tbody td {
  width:620px;
  padding:5px;
}
#boardDelete .btnSet {
  text-align:center;
}

#boardDelete table, tbody td, tbody th{
  /*border-spacing: 2px;*/
  border : thin solid gray;
  border-collapse: collapse;
}
